<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1048861543165-hlpsh0opmoodk448iu08ln4rptkt3dbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048861543165-hlpsh0opmoodk448iu08ln4rptkt3dbc</string>
	<key>API_KEY</key>
	<string>AIzaSyB4Yu4HNHckV0EEkEjkD2jVgXva2aNY4ww</string>
	<key>GCM_SENDER_ID</key>
	<string>1048861543165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanujbhatia.Notes-Timetable</string>
	<key>PROJECT_ID</key>
	<string>notes-timetable</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-timetable.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048861543165:ios:fb4d15a4d19f6501</string>
	<key>DATABASE_URL</key>
	<string>https://notes-timetable.firebaseio.com</string>
</dict>
</plist>